<?xml version="1.0"?>

<configuration scan="true" scanPeriod="60 seconds">
	<property name="MANAGER_LOG" value="${user.dir}/../logs/ecloud-manager.log"/>
	<property name="MONITOR_MODULE_LOG" value="${user.dir}/../logs/monitor.log"/>
	<property name="OTHERS_LOG" value="${user.dir}/../logs/others.log"/>
	<property name="MYBATIS_LOG" value="${user.dir}/../logs/mybatis.log"/>
	
	<!-- 日志输出格式 -->
	<property name="logPattern" value="%d{yyyy-MM-dd HH:mm:ss} [%t][%p][%F %M] %m%n" />

	<!-- 日志最大文件尺寸-->
	<property name="maxSize" value="100MB" />

	<!-- manager主逻辑日志 -->
	<appender name="MANAGER"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${MANAGER_LOG}</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<fileNamePattern>${MANAGER_LOG}.%i</fileNamePattern>
			<minIndex>1</minIndex>
			<maxIndex>9</maxIndex>
		</rollingPolicy>

		<triggeringPolicy
			class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<maxFileSize>${maxSize}</maxFileSize>
		</triggeringPolicy>

		<encoder>
			<pattern>${logPattern}</pattern>
		</encoder>
	</appender>

	<!-- 指标采集监控模块的日志 -->
	<appender name="MONITOR"
			  class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${MONITOR_MODULE_LOG}</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<fileNamePattern>${MONITOR_MODULE_LOG}.%i</fileNamePattern>
			<minIndex>1</minIndex>
			<maxIndex>9</maxIndex>
		</rollingPolicy>

		<triggeringPolicy
				class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<maxFileSize>${maxSize}</maxFileSize>
		</triggeringPolicy>

		<encoder>
			<pattern>${logPattern}</pattern>
		</encoder>
	</appender>

	<!-- 非平台的其它日志 -->
	<appender name="OTHERS"
			  class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${OTHERS_LOG}</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<fileNamePattern>${OTHERS_LOG}.%i</fileNamePattern>
			<minIndex>1</minIndex>
			<maxIndex>9</maxIndex>
		</rollingPolicy>

		<triggeringPolicy
				class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<maxFileSize>${maxSize}</maxFileSize>
		</triggeringPolicy>

		<encoder>
			<pattern>${logPattern}</pattern>
		</encoder>
	</appender>

	<!-- mybatis相关日志，DEBUG级别日志会打印到manager日志中，提取出来 -->
	<appender name="MYBATIS"
			  class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${MYBATIS_LOG}</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<fileNamePattern>${MYBATIS_LOG}.%i</fileNamePattern>
			<minIndex>1</minIndex>
			<maxIndex>9</maxIndex>
		</rollingPolicy>

		<triggeringPolicy
				class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<maxFileSize>${maxSize}</maxFileSize>
		</triggeringPolicy>

		<encoder>
			<pattern>${logPattern}</pattern>
		</encoder>
	</appender>

	<!-- 标准输出 -->
	<appender name="STDOUT"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>${logPattern}</pattern>
		</encoder>
	</appender>

	<root level="INFO">
		<appender-ref ref="OTHERS" />
	</root>
	
	<logger name="com.ai.bdx.hps" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="MANAGER" />
	</logger>
	<logger name="com.ai.bdx.hps" additivity="false">
		<level value="ERROR" />
		<appender-ref ref="STDOUT" />
	</logger>

	<logger name="monitor" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="MONITOR" />
	</logger>

	<logger name="mybatis" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="MYBATIS" />
	</logger>

</configuration>
