<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "mybatis-3-config.dtd">
<configuration>
	<properties>
		<property name="dialect" value="mysql" />
	</properties>
		      
	<!--  <settings  enhancementEnabled="true" lazyLoadingEnabled="true" cacheModelsEnabled="true"
        useStatementNamespaces="true" classInfoCacheEnabled="true" statementCachingEnabled="true" safeRowBoundsEnabled="false"/>
         -->
     <settings>
		<setting name="safeRowBoundsEnabled" value="true"></setting>
	</settings>

	<typeAliases>
	    <!-- example  
			<typeAlias alias="ProgramVO" type="com.ecloud.frame.common.program.model.ProgramVO" />
	    -->

		<typeAlias type="com.ecloud.frame.common.dictionary.model.DictionaryVO" alias="DictionaryVO" />
		<typeAlias type="com.ecloud.frame.common.dictionary.model.DictionaryDetailVO" alias="DictionaryDetailVO" />
		<typeAlias type="com.ecloud.frame.common.user.model.UserVO" alias="UserVO" />
		<typeAlias type="com.ecloud.frame.common.focus.model.FocusVO" alias="FocusVO" />
		<!-- <typeAlias type="com.ecloud.frame.common.user.model.UserRoleVO" alias="UserRoleVO" />
		<typeAlias type="com.ecloud.frame.common.role.model.RoleVO" alias="RoleVO" />
		<typeAlias type="com.ecloud.frame.common.program.model.ProgramVO" alias="ProgramVO" /> -->
        <typeAlias type="com.ecloud.frame.common.appendix.model.AppendixVO" alias="AppendixVO" />
        <typeAlias type="com.ecloud.frame.common.operationlog.model.OperationlogVO" alias="OperationlogVO" />
		<typeAlias type="com.yihui.invms.customer.model.CustomerVO" alias="CustomerVO" />
		<typeAlias type="com.yihui.invms.invest.model.InvestVO" alias="InvestVO" />
		<typeAlias type="com.yihui.invms.creditor.model.CreditorVO" alias="CreditorVO" />
		<typeAlias type="com.yihui.invms.income.model.IncomeVO" alias="IncomeVO" />
        <typeAlias type="com.yihui.invms.intention.model.LoanIntentionVO" alias="LoanIntentionVO" />
        <typeAlias type="com.yihui.invms.loan.model.LoanVO" alias="LoanVO" />
        <typeAlias type="com.yihui.invms.repayment.model.RechargeVO" alias="RechargeVO" />
        <typeAlias type="com.yihui.invms.repayment.model.DrawcashVO" alias="DrawcashVO" />
        <typeAlias type="com.yihui.invms.repayment.model.RepaymentPlanVO" alias="RepaymentPlanVO" />
        <typeAlias type="com.yihui.invms.callRecord.model.CallRecordVO" alias="CallRecordVO" />
        <typeAlias type="com.yihui.invms.packloan.model.LoanDetailVO" alias="LoanDetailVO" />
        <typeAlias type="com.yihui.invms.packloan.model.LoanDetailTempVO" alias="LoanDetailTempVO" />
        <typeAlias type="com.yihui.invms.notice.model.NoticeVO" alias="NoticeVO" />
        <typeAlias type="com.yihui.invms.message.model.MessageVO" alias="MessageVO" />
        <typeAlias type="com.yihui.invms.integral.model.IntegralVO" alias="IntegralVO" />
        <typeAlias type="com.yihui.invms.cashlog.model.CashlogVO" alias="CashlogVO" />
        <typeAlias type="com.yihui.invms.ilog.model.IlogVO" alias="IlogVO" />
        <typeAlias type="com.yihui.invms.creditorInvest.model.CreditorInvestVO" alias="CreditorInvestVO" />
        <typeAlias type="com.yihui.invms.autoInvest.model.AutoInvestVO" alias="AutoInvestVO" />
		<typeAlias alias="MortgageVO" type="com.yihui.invms.mortgage.model.MortgageVO"/>
        <typeAlias alias="PlatformNoticeVO" type="com.yihui.invms.platformNotice.model.PlatformNoticeVO"/>
        <typeAlias alias="UrlauthVO" type="com.yihui.invms.urlauth.model.UrlauthVO"/>
        <typeAlias alias="PromotionVO" type="com.yihui.invms.promotion.model.PromotionVO"/>
        <typeAlias alias="ParticipantVO" type="com.yihui.invms.promotion.model.ParticipantVO"/>
        <typeAlias alias="AutoRepaymentVO" type="com.yihui.invms.autoRepayment.model.AutoRepaymentVO"/>
        <typeAlias alias="ThirdInvestVO" type="com.yihui.invms.packloan.model.ThirdInvestVO"/>
        <typeAlias alias="ThirdInvestVO" type="com.yihui.invms.packloan.model.ThirdInvestVO"/>
        <typeAlias type="com.yihui.invms.customerExtend.model.CustomerExtendVO" alias="customerExtendVO" />
		<!-- 积分兑换商品种类  add by zcc 2015-11-29  start-->
		<typeAlias type="com.yihui.invms.goods.model.MallExchangeRecordVO" alias="MallExchangeRecordVO"/>
		<typeAlias type="com.yihui.mt.version.model.VersionVO" alias="VersionVO"/>
	</typeAliases>
	<plugins>
		<plugin interceptor="com.ecloud.frame.platform.plugin.PaginationInterceptor"></plugin>
	</plugins>
	  
	<mappers>
			<mapper resource="com/yihui/uniframe/common/appendix/config/appendix-mapper.xml" />
		    <mapper resource="com/yihui/uniframe/common/user/config/user-mapper.xml" />
		    <mapper resource="com/yihui/uniframe/common/focus/config/focus-mapper.xml" />
			<!--<mapper resource="com/yihui/uniframe/common/user/config/userRole-mapper.xml" />
			<mapper resource="com/yihui/uniframe/common/role/config/role-mapper.xml" />
			<mapper resource="com/yihui/uniframe/common/program/config/program-mapper.xml" /> -->
			<mapper resource="com/yihui/uniframe/common/dictionary/config/dictionary-mapper.xml" />
			<mapper resource="com/yihui/uniframe/common/operationlog/config/operationlog-mapper.xml" />
			<mapper resource="com/yihui/uniframe/common/dictionary/config/dictionaryDetail-mapper.xml" />
            <mapper resource="com/yihui/invms/customer/config/customer-mapper.xml" />
            <mapper resource="com/yihui/invms/intention/config/loanIntention-mapper.xml" />
            <mapper resource="com/yihui/invms/loan/config/loan-mapper.xml" />
			<mapper resource="com/yihui/invms/invest/config/invest-mapper.xml" />
			<mapper resource="com/yihui/invms/creditor/config/creditor-mapper.xml" />
			<mapper resource="com/yihui/invms/income/config/income-mapper.xml" />
			<mapper resource="com/yihui/invms/repayment/config/recharge-mapper.xml" />
			<mapper resource="com/yihui/invms/repayment/config/drawcash-mapper.xml" />
            <mapper resource="com/yihui/invms/repayment/config/repaymentPlan-mapper.xml" />
            <mapper resource="com/yihui/invms/callRecord/config/callRecord-mapper.xml" />
            <mapper resource="com/yihui/invms/notice/config/notice-mapper.xml" />
            <mapper resource="com/yihui/invms/message/config/message-mapper.xml" />
            <mapper resource="com/yihui/invms/integral/config/integral-mapper.xml" />
            <mapper resource="com/yihui/invms/cashlog/config/cashlog-mapper.xml" />
            <mapper resource="com/yihui/invms/ilog/config/ilog-mapper.xml" />
            <mapper resource="com/yihui/invms/creditorInvest/config/creditorInvest-mapper.xml" />
            <mapper resource="com/yihui/invms/autoInvest/config/autoInvest-mapper.xml" />
            <mapper resource="com/yihui/invms/mortgage/config/mortgage-mapper.xml" />
            <mapper resource="com/yihui/invms/platformNotice/config/platformNotice-mapper.xml" />
            <mapper resource="com/yihui/invms/urlauth/config/urlauth-mapper.xml" />
            <mapper resource="com/yihui/invms/promotion/config/participant-mapper.xml" />
            <mapper resource="com/yihui/invms/promotion/config/promotion-mapper.xml" />
            <mapper resource="com/yihui/invms/autoRepayment/config/autoRepayment-mapper.xml" />
            <mapper resource="com/yihui/invms/packloan/config/loanDetail-mapper.xml" />
            <mapper resource="com/yihui/invms/packloan/config/loanDetailTemp-mapper.xml" />
            <mapper resource="com/yihui/invms/packloan/config/thirdInvest-mapper.xml" />
            <mapper resource="com/yihui/invms/customerExtend/config/customerExtend-mapper.xml" />
            <!-- 积分兑换商品种类  add by zcc 2015-11-29  start-->
			<mapper resource="com/yihui/invms/goods/config/mallExchangeRecord-mapper.xml" />	
			<mapper resource="com/yihui/mt/version/config/version-mapper.xml" />	
	</mappers>
</configuration>