<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dream.home.link.dao.LinkDAO">
	<!--1.查询条件-->
	<sql id="SQL_CONDITION">
		<if test="rowId != null and rowId != '' ">
		 and mdl.row_id = #{rowId}
		</if>
		<if test="linkName != null and linkName != '' ">
		 and mdl.link_name = #{linkName}
		</if>
		<if test="linkUrl != null and linkUrl != '' ">
		 and mdl.link_url = #{linkUrl}
		</if>
	</sql>

	<!--2.查询内容-->
	<sql id="SQL_CONTENT">
		mdl.row_id rowId,
		mdl.link_name linkName,
		mdl.link_url linkUrl
	</sql>

	<!--3.查询记录数-->
	<select id="doSearchCount" parameterType="LinkVO" resultType="java.lang.Integer">
		SELECT COUNT(0) AS _COUNT FROM md_link mdl WHERE 1=1 AND DELETED_FLAG = 'N'
		<include refid="SQL_CONDITION"/>
	</select>

	<!--4.按条件查询记录-->
	<select id="doSearchListByVO" parameterType="LinkVO"  resultType="LinkVO"> 
		SELECT 
			<include refid="SQL_CONTENT"/>
		FROM md_link mdl  WHERE mdl.DELETED_FLAG = 'N' 
			<include refid="SQL_CONDITION"/>
	</select>

	<!--5.根据ID查询记录-->
	<select id="doFindById" parameterType="LinkVO"  resultType="LinkVO">  
		SELECT 
		<include refid="SQL_CONTENT"/>
		FROM md_link mdl 
		WHERE mdl.DELETED_FLAG = 'N' AND  mdl.ROW_ID = #{value} 
	</select>

	<!--6.按照VO插入-->
	<insert  id="doInsertByVO"  parameterType="LinkVO"> 
		<selectKey resultType="java.lang.Long" order="BEFORE" keyProperty="rowId">
			SELECT DEFAULT_SEQ('DEFAULT') AS rowId FROM DUAL
		</selectKey>
		INSERT INTO md_link(row_id,link_name,link_url)
		VALUES(#{rowId},#{linkName},#{linkUrl})
	 </insert>

	<!--7.批量插入-->
	<insert  id="doBatchInsertByList"  parameterType="java.util.List"> 
		INSERT INTO md_link(row_id,link_name,link_url)
		VALUES
		<foreach collection="list" item="item" index="index" separator="," >
			(#{item.rowId},#{item.linkName},#{item.linkUrl})
		</foreach>
	</insert>

	<!--8.按主键逻辑删除-->
	<update id="doDeleteById"  parameterType="Long"> 
		UPDATE  md_link mdl SET mdl.DELETED_FLAG = 'Y'  WHERE 1=1   AND mdl.ROW_ID = #{value} 
	</update>

	<!--9.按复合条件逻辑更新-->
	<update  id="doUpdateByVO"  parameterType="LinkVO"> 
		UPDATE   md_link  
		<set>
			<if test="rowId != null">row_id=#{rowId},</if>
			<if test="linkName != null">link_name=#{linkName},</if>
			<if test="linkUrl != null">link_url=#{linkUrl}</if>
		</set>
		WHERE  ROW_ID = #{rowId}
	</update>

	<!--10.批量修改-->
	<update id="doBatchUpdateByList"  parameterType="java.util.List">
		INSERT INTO md_link(row_id,link_name,link_url)
		VALUES
		<foreach collection="list" item="item" index="index" separator="," >
			(#{item.rowId},#{item.linkName},#{item.linkUrl})
		</foreach>
		ON DUPLICATE KEY UPDATE   
			row_id = VALUES(row_id),
			link_name = VALUES(link_name),
			link_url = VALUES(link_url)
	</update>
</mapper>
